<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="identifier">Username or Email:</label>
        <input type="text" name="identifier" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>
	{% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
    <a href="{% url 'register' %}">Don't have an account? Register here</a>
</body>
</html>
