<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
<h1>Welcome {{ user.username }}</h1>
<p>Your email: {{ user.email }}</p>

<h2>Your Reviews</h2>
<ul>
    {% for review in reviews %}
        <li>
                <strong>
                    <a href="{% url 'book_detail' review.book.pk %}">
                        {{ review.book.title }}
                    </a>
                </strong>
            - {{ review.rating }}/5
            <p>{{ review.content }}</p>
        </li>
    {% empty %}
        <p>You haven't reviewed any books yet.</p>
    {% endfor %}
</ul>
</body>
</html>